.guide{/*导航按钮*/
    display: list-item;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 30px;
    width:150px;
    text-align: center;
    text-decoration: none;
    border: #dcdfe6;
    background-color: #ffffff;
}

.guide-open{/*展开按钮*/
    display: list-item;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 30px;
    width:10px;
    text-align: center;
    text-decoration: none;
    border: #dcdfe6;
    background-color: #ffffff;
}

.guide-open:hover{/*展开按钮*/
    display: list-item;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 30px;
    width:50px;
    text-align: center;
    text-decoration: none;
    border: #dcdfe6;
    background-color: #ffffff;
    transition-duration:1s;
}

.guide:hover {/*导航悬浮按钮*/
    background-color: #cccccc;
    border-radius: 5px;
}

.sidebar-item{/*导航悬浮窗*/
    background-color:#f6f8f8;
    border: 2px solid #dcdfe6;
    border-radius: 10px;
}

.guide-li{/*分割栏*/
    list-style-type:none;
    text-align: center;
    background-color: #ffffff;
}

button {
    text-decoration: none;
}

li{
    list-style: none;
}