#index {
    overflow: hidden;

    .login-button {
        width: 150px;
        height: 50px;
        cursor: pointer;
        /*background-color: dodgerblue;*/
        background-color: #dd5347;
        font-size: 18px;
        outline: none;
        border: none;
        color: white;
        transfrom: rotate(0deg);
        will-change: transfrom;
        transition: all 0.3s;
    }

    .main-content {
        left: 0;
        margin: 0;
        padding: 0;
        background: url("assets/background.jpg") 0 0 no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;

        .introduction {
            color: white;
            margin-top: 200px;
            float: right;
            margin-right: -500px;
            font-size: 50px;
            font-weight: lighter;
            font-family: "Roboto", "Helvetica", arial, sans-serif;
            transition: all 0.8s;
        }
    }

    .blank-space {
        width: 50px;
    }

}
